<!DOCTYPE html>
<html lang="en">
  <head>
    <title>用户结果展示</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Main CSS-->
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
    <!-- Font-icon css-->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  </head>
  <body class="app sidebar-mini">
    <!-- Navbar-->
    <header class="app-header"><a class="app-header__logo" href="/">Quit</a>
      <!-- Sidebar toggle button--><a class="app-sidebar__toggle" href="#" data-toggle="sidebar" aria-label="Hide Sidebar"></a>
    </header>
    <!-- Sidebar menu-->
    <div class="app-sidebar__overlay" data-toggle="sidebar"></div>
    <aside class="app-sidebar">
      <div class="app-sidebar__user">
        
        <div>
          <p class="app-sidebar__user-name" style="margin-left: 70px;">{{ user_name }}</p>
          <p class="app-sidebar__user-designation"  style="margin-left: 70px;">用户</p>
        </div>
      </div>
      <ul class="app-menu">
        <li><a class="app-menu__item" href="/dashboard"><i class="app-menu__icon bi bi-speedometer"></i><span class="app-menu__label">图形可视化</span></a></li>
        <li class="treeview"><a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon bi bi-laptop"></i><span class="app-menu__label">肺炎检测识别</span><i class="treeview-indicator bi bi-chevron-right"></i></a>
          <ul class="treeview-menu">
            <li><a class="treeview-item" href="/identify"><i class="icon bi bi-circle-fill"></i> 初始化识别界面</a></li>
          </ul>
        </li>
        <li class="treeview"><a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon bi bi-ui-checks"></i><span class="app-menu__label">用户信息修改</span><i class="treeview-indicator bi bi-chevron-right"></i></a>
          <ul class="treeview-menu">
            <li><a class="treeview-item" href="/change_current_user"><i class="icon bi bi-circle-fill"></i> 当前登录用户信息修改</a></li>
          </ul>
        </li>
        <li class="treeview is-expanded"><a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon bi bi-table"></i><span class="app-menu__label">信息管理</span><i class="treeview-indicator bi bi-chevron-right"></i></a>
          <ul class="treeview-menu">
            <li><a class="treeview-item" href="/show_cate"><i class="icon bi bi-circle-fill"></i> 肺炎检测结果管理</a></li>
            <li><a class="treeview-item active" href="/user_information_control"><i class="icon bi bi-circle-fill"></i> 用户信息管理</a></li>
          </ul>
        </li>
      </ul>
    </aside>
    <main class="app-content">
      <div class="app-title">
        <div>
          <h1><i class="bi bi-table"></i> 用户信息管理</h1>
          <p>关于用户信息的增删改查</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="tile">
            <div class="tile-body">
              <a href="/add_user" class="btn btn-success"
                       style="border-radius:10%;margin-left: 30px;margin-bottom: 20px;">新建用户</a>
              <div class="table-responsive">
                <table class="table table-hover table-bordered" id="sampleTable">
                  <thead>
                    <tr>
                      <th>学号</th>
                      <th>姓名</th>
                      <th>地址</th>
                      <th>性别</th>
                      <th>电话</th>
                      <th>用户创建时间</th>
                      <th>操作</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for item in users %}
                      <tr class="{{ item[1] }}" style="margin: 20px;">
                          <td>{{ item[0] }}</td>
                          <td>{{ item[2] }}</td>
                          <td>{{ item[3] }}</td>
                          <td>{{ item[4] }}</td>
                          <td>{{ item[5] }}</td>
                          <td>{{ item[6] }}</td>
                          <td><a href="/change_user_information?user_sco={{ item[0] }}" class="btn btn-primary btn-xs">修改</a>
                              <a href="/delete_user?user_sco={{ item[0] }}" class="btn btn-danger btn-xs">删除</a>
                          </td>
                        </tr>
                    {% endfor %}
                  </tbody>
                </table>
                <p style="float: right;margin-right: 16%;">当前记录{{ number }}条</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <!-- Essential javascripts for application to work-->
    <script src="../static/js/jquery-3.7.0.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/main.js"></script>
    <!-- Page specific javascripts-->
    <link rel="stylesheet" href="https://cdn.datatables.net/v/bs5/dt-1.13.4/datatables.min.css">
    <!-- Data table plugin-->
    <script type="text/javascript" src="js/plugins/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="js/plugins/dataTables.bootstrap.min.js"></script>
    <script type="text/javascript">$('#sampleTable').DataTable();</script>
    <!-- Google analytics script-->
    <script type="text/javascript">
      if(document.location.hostname == 'pratikborsadiya.in') {
      	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      	ga('create', 'UA-72504830-1', 'auto');
      	ga('send', 'pageview');
      }
    </script>
  </body>
</html>